<div class='row'>
	<div class='col-md-9'>
		<div ng-controller='movieController'>
			<div class='row'>
	      <div class='col-md-12'>
					<div class='detail_poster'>
						<img ng-src='http://image.tmdb.org/t/p/w370/{{movie.poster_path}}' alt='{{movie.title}}'>
					</div>
					<div class='detail_info'>
						<h1>{{movie.title}}</h1>
						<b>Rating:</b> {{movie.imdbRating}}<br>
						<b>Rated:</b> {{movie.Rated}}<br>
						<b>Genre:</b> {{movie.Genre}}<br>
						<b>Runtime:</b> {{movie.Runtime}}<br>
						<b>Release data:</b> {{movie.Released}}<br>
						<b>Overview:</b> {{movie.overview}}<br><br>
						<b>Credits:</b><br>
						Actors: {{movie.Actors}}<br>
						Director: {{movie.Director}}<br>
						Writer: {{movie.Writer}}<br><br>
						<b>Trailer:</b><br>
						<div ng-repeat='trailer in movie.results' on-last-repeat>
							<a class='youtube' href='https://www.youtube.com/watch?v={{trailer.key}}'>{{trailer.name}}</a><br>
						</div>
					</div>
	      </div>
			</div>
			<div class='row'>
				<div class='review col-md-12'>
					<h2>Reivews</h2>
					<hr>
					<h4>User Reviews</h4>
					<div>
						<div ng-repeat='review in our_reviews'>
							<u>{{review._creator.name}}</u><br>
							{{review.review}}<br><br>
						</div>
						<div style='text-align: right;'>
							<form>
								<textarea id='review' ng-model='new_review.content' cols='165' rows='3'></textarea><br>
								<!-- <input class='leave_review' type='submit' value='Add your review' ng-click='addReview(sessionUser._id)'> -->
								<button type='submit' class='btn-md btn-default' ng-click='addReview(movie.imdbID)'>Add your review</button>
							</form>
						</div>
					</div>
					<hr>
					<h4>Reviews from tmdb site</h4>
					<div ng-repeat='review in reviews.results'>
						<u>{{review.author}}</u><br>
						{{review.content}}<br><br>
					</div>
				</div>
			</div>
		</div>
	</div>
  <div class='col-md-3'>
		<div class='panel panel-default'>
			<div class='panel-heading' style='background:#04bed1'>
				<h4>Theaters Nearby</h4>
				<form>
					<input type='text' placeholder='Address, ZIP code' ng-model='newTheater.address'>
					<button type='submit' class='btn-md btn-default' value='Seek'  ng-click='searchTheaters()'>Seek</button>
				</form>
			</div>
			 <ul class='list-group'>
			<div class='show' dir-paginate='show in showtimes | itemsPerPage: 15'>
			<li class='list-group-item'><a href='#/theater/{{show.name}}'>{{show.name}}</a></li>
			</div>
			</ul>
			<dir-pagination-controls
				max-size='15'
				direction-links='true'
				boundary-links='true' >
			</dir-pagination-controls>
		</div>
		<div class='panel panel-default'>
			<div class='panel-heading' style='background:#04bed1'>
				<h4>Latest Movie News</h4>
			</div>
			 <ul class='list-group'>
				<div class='show' ng-repeat='article in news.results | limitTo: 10'>
					<li class='list-group-item'><a href='{{article.url}}' target='_blank'>{{article.title}}</li>
				</div>
			</ul>
		</div>
	</div>
</div>
