<div class='row'>
	<div class='col-md-9'>
		<div ng-controller='moviesController'>
			<div class='row'>
				<div class='col-md-12'>
					<h1>{{theater}}</h1>
					<div class='showtimes' ng-repeat='show in showtimes | filter: {name: theater}'>
						<div class='search-row'>
							<h4 class='title'><a href='http://maps.google.com/?q={{show.address}}'>{{show.address}}</a></h4>
							<input class='search-movie' type='text' placeholder='Search By Movie' ng-model='filter_name'>
						</div>
						<div class='dates'>
							<h4>Showtime Date</h4>
							<h4>{{date}}</h4>
							<form>
								<select ng-model='newDate.date' ng-options='date.date for date in dates'  ng-change='updateShowtime(newDate)'></select>
							</form>
						</div>
						<div>
							<div class='box' ng-repeat='movie in show.movies | orderBy: "name" | filter:filter_name'>
								<h5><a style='cursor:pointer' ng-click='showMovie(movie.imdb)'>{{movie.name}}</a></h5>
								<p>{{movie.rating}} {{movie.runtime}}</p>
								<p>{{movie.showtimes.join(', ')}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='col-md-3' ng-controller='moviesController'>
		<div class='panel panel-default'>
			<div class="panel-heading" style='background:#04bed1'>
				<h4>Theaters Nearby</h4>
				<form>
					<input type='text' placeholder='Address, ZIP code' ng-model='newTheater.address'>
					<button type='submit' class='btn-md btn-default' value='Seek'  ng-click='searchTheaters()'>Seek</button>
				</form>
			</div>
			 <ul class="list-group">
				<div class='show' ng-repeat='show in showtimes | pagination: curPage2 * pageSize2 | limitTo: pageSize2'>
					<li class="list-group-item"><a href="#/theater/{{show.name}}">{{show.name}}</a></li>
				</div>
			</ul>
				<!-- 	pagination div -->
			<div class="pagination-div" ng-show="showtimes.length">
				<div class='page-links'>
					<button type="button" class="btn btn-primary page-btn" ng-disabled="curPage2 == 0" ng-click="curPage2=curPage2-1"> &lt;  PREV</button>
					<span>Page {{curPage2 + 1}} of {{ numberOfPages2() }}</span>
					<button type="button" class="btn btn-primary page-btn" ng-disabled="curPage2 >= showtimes.length/pageSize2 - 1" ng-click="curPage2 = curPage2+1">NEXT &gt; </button>
				</div>
			</div> <!-- end of pagination -->
		</div>

		<div class='panel panel-default'>
			<div class="panel-heading" style='background:#04bed1'>
				<h4>Latest Movie News</h4>
			</div>
			 <ul class="list-group">
				<div class='show' ng-repeat='article in news | pagination: curPage * pageSize | limitTo: pageSize'>
					<li class="list-group-item"><a href="{{article.url}}" target="_blank">{{article.title}}</a></li>
				</div>
			</ul>
			<!-- 	pagination div -->
			<div class="pagination-div" ng-show="news.length">
				<div class='page-links'>
					<button type="button" class="btn btn-primary page-btn" ng-disabled="curPage == 0" ng-click="curPage=curPage-1"> &lt;  PREV</button>
					<span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
					<button type="button" class="btn btn-primary page-btn" ng-disabled="curPage >= news.length/pageSize - 1" ng-click="curPage = curPage+1">NEXT &gt; </button>
				</div>
			</div> <!-- end of pagination -->
  	</div>
	</div>
</div>
