#login-nav input {
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 0px;
}

.carousel_poster img{
  width: 200px;
  vertical-align: top;
}

.display-mode {
  height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.display-mode span {
  display: inline-block;
  height: 1px;
  width: 1px;
}

.poster {
  vertical-align: top;
}

div.box{
  width: 150px;
  min-height: 15%;
  padding-left: 0px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

div.dates{
  margin-bottom: 2%;
}
div.title-row{
  margin-top: 10px;
}
div.title{
  text-align: center;
}
div.search-row{
  margin-bottom: 4%;
}

input.search-movie{
    color: black;
    width: 50%;
}

.ui-widget-overlay{
  background-color: black;
  background: black;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

body{
  background-color: black;
  /*white color*/
  color: #F8F8F8;
}

.subcontent h2{
  margin: 0px 0px 5px;
}

.subcontent{
  margin-bottom: 30px;
}

a {
  color: #04bed1;
  cursor: pointer;
}

li.list-group-item{
  background-color: #191919;
  border: #707070;
}

li.list-group-item a{
  color: #F8F8F8;
/*  color: black;*/
}

.navbar-default {
  border: #191919;
}

nav.navbar.navbar-default{
  background-color: #191919;
}

.panel-default h4{
  color: white;
}

div.navbar-header{
  height: 70px;
}

.welcome_message{
  font-size: 20px;
}

#active{
  margin-top: 20px;
}

#log_out{
  margin-top: 8px;
}

.panel-default h4{
  color: white;
}
div.navbar-header{
  height: 70px;
 /* border: 0px;*/
}

.logo{
  position: relative;
  bottom: 28px;
  max-width: 200px;
  height: auto
}

form#search_form{
  position: relative;
  left: 50px;
  top: 10px;
}

.panel{
  border:none;
  padding:0;
}

.panel-heading{
  border:none;
  padding:10px;
  margin:0;
}

.panel-body{
  border:1px solid #ccc;
  padding:10px;
  border-top:0;
}

div.collapse, div.navbar-collapse{
  background: #191919;
}

a.carousel-control.right, a.carousel-control.left{
  opacity: 0;
}

li.dropdown a.dropdown-toggle{
  color: white;
}

#sign_up, #log_in{
  margin-top: 10px;
}

#searchMovie {
  background: #04bed1;
  border: none;
  color: white;

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: darkgrey;
}

::-moz-placeholder { /* Firefox 19+ */
  color: darkgrey;
}

:-ms-input-placeholder { /* IE 10+ */
  color: darkgrey;
}

:-moz-placeholder { /* Firefox 18- */
  color: darkgrey;
}

.movie_card {
  /*border: 1px solid silver;*/
  margin-bottom: 20px;
}

.info, .info_poster{
  display: inline-block;
  vertical-align: top;
}

.info_poster img{
  margin:auto;
  width: 140px;
}

.info table{
  border-collapse: collapse;
  width: 650px;
  margin-left: 5px;
}

.title{
  font-size: 20px;
}

.detail_info, .detail_poster{
  display: inline-block;
  vertical-align: top;
}

.detail_info {
  /*border: 1px solid silver;*/
  width: 535px;
  margin-left: 5px;
}

h1{
  margin-top: 0px;
}

.detail_poster img{
  margin:auto;
  width: 300px;
}

div.page-links{
  text-align: center;
}

button.page-btn {
  background-color: #04bed1;
}

.review h2{
  margin: 30px 0px 10px;
}

.leave_review{
  color: black;
}

#review{
  color: black;
}

div.pagination-div{
  background-color: #191919;
  width: 100%;
}

div.page-links{
 text-align: center;
}

ul.list-group {
  min-height: 450px;
  background-color: #191919;
}

div.search-group {
  width: 300px;
  position: relative;
  right: 5em;
  top: 0.5em;
  margin-bottom: 1em;
}

#searchBar, #searchBtn {
  display: inline-block;

}

#searchBar {
  border-radius: 5px;
/*  border: hidden;*/
  padding: 5px;
}

/*input[type='text']{color:#ccc;}*/
input[type='text']:focus{color:grey}


@media screen and (max-width: 480px) {
 /*   .hideLogo {
       display: none;
    }*/
}
